---
import Layout from "../layouts/main.astro"
let name = "Maulana Shalihin"

import { getCollection } from 'astro:content'; 

const posts = (await getCollection('blog'))
import Price from "../components/price_calculator.svelte"

---

<Layout>
	<h1>Astro</h1>  
	<section>
		<ul>
			{
				posts.map((post) => (
					<li> 
						<a class="underline" href={`/blog/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</section>
	<div >
		<Price client:visible></Price>
	</div>
 
</Layout>